body {
  margin: 0;
  font-family: Times New Roman;
}

/*.navbar-header {
	text-align: center;
}*/

/*ul {
    margin: 0;
    padding: 0;
}*/

/*ul {
    margin-left: auto;
    margin-right: auto;
}*/

.nav {
	margin: 0;
	padding: 0;
	text-align: center;
	/*width: 100%;*/
}

.nav li {
	display: inline;
}

/*.affix {
	top: 0;
	width: 100%;
}*/

/*.affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }*/

/*h2 {
	font-family: Georgia;
}*/

h1 {
	text-align: center;
}
.row {
	padding: 0px 20px 10px 20px;
}

a, a:hover {
	color: #000000;
}

a {
	text-transform: uppercase;
}

.author {
	font-weight: bold;
}

.info {
	font-size: 17px;
} 

.articles1 {
	text-align: left;
	padding: 10px 50px 10px 50px;
}

/*.articleheading {
	font-size: 40px;

}*/

/*.nav a {
	display: inline-block;
	padding: 10px;
}
*/
.fa {
	padding: 15px;
	font-size: 30px;
	width: 40px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-search {
	padding: 10px;
	font-size: 30px;
	width: 35px;
}

/*.search-container {
    float: right;
  	padding: 5px 20px 5px 0px;
  	margin-top: 0px;
  	margin-right: 0px;
  	font-size: 14px;
  	border: none;
  	cursor: pointer;
  }
*/
