body {
  margin: 0;
  font-family: Helvetica;
}

hr {
	border-color: rgb(211,211,211);
}

/*.navbar-header {
	text-align: center;
}*/

/*ul {
    margin: 0;
    padding: 0;
}*/

/*ul {
    margin-left: auto;
    margin-right: auto;
}*/

.container {
	padding: 0px 30px 0px 30px;
}

.nav {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Sans-serif;
	background: white;
	/*width: 100%;*/
}

.nav li {
	display: inline;
}

/*.affix {
	top: 0;
	width: 100%;
}*/

/*.affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }*/

/*h2 {
	font-family: Georgia;
}*/

.logo {
		float: left;
		padding: 15px 0px 0px 20px;
	}

@media screen and (min-width: 992px) {
	.logo {
		display: none;
	}
}

header {
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	font-family: Arial;
}

h1 {
	text-align: center;
}

.row {
	padding: 0px 20px 10px 20px;
}

.row .info p {
	font-style: italic;
}

@media screen and (min-width: 992px) {
	.info {
		padding-top: 9%;
	}
}

a, a:hover, a:visited {
	color: #000000;
}

a {
	text-transform: uppercase;
}

.author {
	font-weight: bold;
}

.info {
	font-size: 17px;
} 

.editorspicks {
	text-align: left;
	padding: 10px 50px 10px 50px;
}

.latest {
	text-align: right;
	padding: 10px 50px 10px 50px;
}

.article {
	font-size: 17px;
}

/*.articleheading {
	font-size: 40px;

}*/

/*.nav a {
	display: inline-block;
	padding: 10px;
}
*/

footer hr {
	border-color: rgb(1,1,1);
}

footer {
	font-family: sans-serif;
	font-size: 17px;
	text-transform: uppercase;
}

.fa {
	padding: 15px;
	font-size: 30px;
	width: 40px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-search {
	padding: 10px;
	font-size: 30px;
	width: 35px;
}

/*.search-container {
    float: right;
  	padding: 5px 20px 5px 0px;
  	margin-top: 0px;
  	margin-right: 0px;
  	font-size: 14px;
  	border: none;
  	cursor: pointer;
  }
*/
